<DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="static/css/style.css" />
		<link rel="stylesheet" href="static/css/index.css" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<!-- 	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icon.min.css"> -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css" integrity="sha512-mRuH7OxetZB1XiSaKZ2fxENKgxVvx3ffpzX0FUcaP6GBqAuqOLc8YiC/3EVTUVt5p5mIRT5D9i4LitZUQKWNCg==" crossorigin="anonymous" />
		<title>Credit Syariah</title>
	</head>
	<body>

		<!-- NAVBAR -->
		<nav class="navbar navbar-expand-lg fixed-top">
			<div class="container-fluid">
				<img src="static/img/logo1.png" alt="Logo Aplikasi" style="width: 50px; height: 50px;" srcset="">
			  <a class="navbar-brand" href="#">Credit Syariah</a>
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="container" style="width: 790px;">

			  </div>
			  <div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
				  <li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Home</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#introduction">About</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#prediksi">Predict</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#team">Team</a>
				  </li>
				</ul>
			  </div>
			</div>
		</nav>
		<!-- END NAVBAR -->

		<!-- HOME SECTION -->
		<section id="home">
			<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
			  	</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="{{ url_for('static',filename='img/Slide 1.png')}}" class="img-fluid d-block w-100" style= "margin-top: 40px;" alt="...">
						<div class="carousel-caption d-none d-md-block"></div>
					</div>
					<div class="carousel-item">
						<img src="{{ url_for('static',filename='img/Slide 2.png')}}" class="img-fluid d-block w-100" style= "margin-top: 40px;" alt="...">
						<div class="carousel-caption d-none d-md-block"></div>
					</div>
					<div class="carousel-item">
						<img src="{{ url_for('static',filename='img/Slide 3.png')}}" style= "margin-top: 50px;" class="img-fluid d-block w-100" alt="...">
						<div class="carousel-caption d-none d-md-block"></div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
			  	</button>
			</div>
		</section>
		<!-- END HOME SECTION -->

		<!-- INTRODUCTION SECTION -->
		<section id="introduction">
			<div class="container" style="height: 20px;"></div>
			<h2 class="intro-title">
			  About Credit Syariah
			</h2>
			<p class="text-center intro-text">
			  Credit Syariah merupakan layanan untuk memprediksi layak atau tidaknya konsumen mengajukan pinjaman dengan berdasarkan data - data yang akan dimasukkan serta di lengkapi layanan bantuan yang dapat membantu dalam memberikan informasi tambahan.
			</p>
			<div class="container">
			  <div class="row">
				<div class="col-md-4 hola">
				  <div class="container apex">
					<img src="{{ url_for('static',filename='img/Aman.png')}}" class="img-fluid" id="aman" alt="Aman">
					<h4 style="background-color: white; text-align: center; margin-top: 10px;">
					  AMAN
					</h4>
					<p class="about">
					  Program ini aman digunakan oleh semua perangkat dekstop atau mobile
					</p>
				  </div>
				</div>
				<div class="col-md-4 hola">
				  <div class="container apex">
					<img src="{{ url_for('static',filename='img/Akurat.png')}}" class="img-fluid" id="aman" alt="akurat">
					<h4 style="background-color: white; text-align: center; margin-top: 10px;">
					  AKURAT
					</h4>
					<p class="about">
					  Program ini menggunakan algoritma Desicion Tree dengan akurasi data yang baik 
					</p>
				  </div>
				</div>
				<div class="col-md-4 hola">
				  <div class="container apex">
					<img src="{{ url_for('static',filename='img/Terpercaya.png')}}" class="img-fluid" id="aman" alt="Terpercaya">
					<h4 style="background-color: white; text-align: center; margin-top: 10px;">
					  TERPERCAYA
					</h4>
					<p class="about">
					  Program ini terpercaya berdasarkan pengumpulan sumber informasi yang akurat
					</p>
				  </div>
				</div>
			  </div>
			</div>
		</section>
		<!-- END INTRODUCTION -->

		<!-- PREDIKSI -->
		  <section id="prediksi">
			<div class="container">
			  <div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4 kotakan">
				  <img src="{{ url_for('static',filename='img/gambar predict.png')}}" class="gambar-prediksi" alt="Predict">
				  <h2 class="prediksi-title">
					PREDICT YOUR CREDIT
				  </h2>
				  <h5 class="prediksi-text">
					Submit your data for result
				  </h5>
				  <a role="button" class="btn btn-warning" style="color: white; font-weight: 600; font-size: 22px; border-radius: 25px; width: 180px;" href="./predict">Predict Now</a>
				</div>
				<div class="col-md-4 kurang">
				</div>
			  </div>
			</div>
		  </section>
		<!-- END PREDIKSI -->

		<!-- TEAM -->
		  <section id="team">
			<div class="container" style="height: 20px;"></div>
			<h2 class="team-title">
			  TEAM WORK 
			</h2>
			<div class="container" style="margin-top: 160px;">
			  <div class="row">

				<div class="col-md-3 team-satu">
				  <img class="gambar-anggota" src="{{ url_for('static',filename='img/Latif.png')}}" alt="Latif">
				  <h5 class="team-text-1">
					Abdullah Latif
				  </h5>
				  <h6 class="team-cap-1">
					Project Manager
				  </h6>
				</div>

				<div class="col-md-3 team-satu">
				  <img class="gambar-anggota" src="{{ url_for('static',filename='img/Dhilah.jpeg')}}" alt="Dhilah">
				  <h5 class="team-text-2">
					Siti Nur Fadhilah
				  </h5>
				  <h6 class="team-cap-2">
					CEO
				  </h6>
				</div>

				<div class="col-md-3 team-dua">
				  <img class="gambar-anggota team-tiga" src="{{ url_for('static',filename='img/Ayu.JPG')}}" alt="Ayu">
				  <h5 class="team-text-3">
					Tri Mulyani Ayuningtyas
				  </h5>
				  <h6 class="team-cap-3">
					IT Strategy & Planning
				  </h6>
				</div>

				<div class="col-md-3 team-dua">
				  <img class="gambar-anggota team-empat" src="{{ url_for('static',filename='img/Murtadho.jpeg')}}" alt="Murtadho">
				  <h5 class="team-text-4">
					Mukhammad Ali Murtadho
				  </h5>
				  <h6 class="team-cap-4">
					IT Operation
				  </h6>
				</div>
			  </div>
			</div>
			<div class="container" style="height: 20px; background-color: #e7e6e1;"></div>
		  </section>
		  <!-- END TEAM -->

		  <!-- SUPPORTED -->
		  <section id="team">
			<div class="container" style="height: 20px;"></div>
			<h2 class="sup">
			  SUPPORT BY 
			</h2>
			<div class="container" style="margin-top: 150px; margin-bottom: 100px;">
				<div class="row sup-row">
					<div class="col">
						<img class="col-satu" src="{{ url_for('static',filename='img/sup 1.png')}}" alt="" srcset="">
					</div>
					<div class="col">
						<img class="col-satu col-dua" src="{{ url_for('static',filename='img/sup 2.png')}}" alt="" srcset="">
					</div>
					<div class="col">
						<img class=" col-satu" src="{{ url_for('static',filename='img/sup 3.png')}}" alt="" srcset="">
					</div>
					<div class="col">
						<img class="col-satu col-dua" src="{{ url_for('static',filename='img/sup 4.png')}}" alt="" srcset="">
					</div>
				</div>
			</div>
			</div>
			<div class="container" style="height: 20px; background-color: #e7e6e1;"></div>
		  </section>
		  <!-- END SUPPORT -->

		  <!-- FOOTER -->
		  <footer class="fixed-bottom">
			<div class="chat">
				<p class="kopi">CopyRight&copy; Kelompok 4</p>
				<button class="chat-btn">
					<!-- used google material icon for comment -->
					<i class="material-icons">
						comment
					</i>
				</button>
				<!-- pop up -->
				<div class="chat-popup">
					<!-- start red chat badge -->
					<div class="badge">1</div>
		
					<!-- inside chat box area -->
					<div class="chat-area" id="chatId">
						<div class="income-msg">
							<!-- <img src="static/img/tom.jpeg" class="avatar" alt=""> -->
							<span class="msg">Silahkan Ajukan Pertanyaan!</span>
						</div>
					</div>
					<!-- Akhir inside chat box area -->
					
					<!-- input area into chat -->
					<div class="input-area">
						<input type="text" tabindex="-1">
						<button class="submit">
							<i class="material-icons">
								send
							</i>
						</button>
					</div>
				</div>
			  </div>
		  </footer>
		  <!-- END FOOTER -->

		<!-- javascript libraries -->
		<script type="text/javascript" src="static/main.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
	</body>
</html>